footer {
    padding: 0 20px;
    text-align: center;
}

footer p{
    font-size: 0.8rem;
}

footer a {
    color: var(--Soft-violet-accent);
}

@media screen and (max-width: 600px) {
    footer{
        display: none;
    }
}
